<a href="https://colab.research.google.com/github/jpiche0720/DS-Unit-2-Applied-Modeling/blob/master/module1-define-ml-problems/LS_DS_231_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Define ML problems

You will use your portfolio project dataset for all assignments this sprint.

## Assignment

Complete these tasks for your project, and document your decisions.

- [ ] Choose your target. Which column in your tabular dataset will you predict?
- [ ] Is your problem regression or classification?
- [ ] How is your target distributed?
    - Classification: How many classes? Are the classes imbalanced?
    - Regression: Is the target right-skewed? If so, you may want to log transform the target.
- [ ] Choose your evaluation metric(s).
    - Classification: Is your majority class frequency >= 50% and < 70% ? If so, you can just use accuracy if you want. Outside that range, accuracy could be misleading. What evaluation metric will you choose, in addition to or instead of accuracy?
    - Regression: Will you use mean absolute error, root mean squared error, R^2, or other regression metrics?
- [ ] Choose which observations you will use to train, validate, and test your model.
    - Are some observations outliers? Will you exclude them?
    - Will you do a random split or a time-based split?
- [ ] Begin to clean and explore your data.
- [ ] Begin to choose which features, if any, to exclude. Would some features "leak" future information?

If you haven't found a dataset yet, do that today. [Review requirements for your portfolio project](https://lambdaschool.github.io/ds/unit2) and choose your dataset.

Some students worry, ***what if my model isn't “good”?*** Then, [produce a detailed tribute to your wrongness. That is science!](https://twitter.com/nathanwpyle/status/1176860147223867393)

In [0]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns',40)
# Path1 = energy consumption for electricity by state(target)
# path1half = path one btus
# Path2 = GDP of sector by state 2001-2017
# Path3 = SAAC Arts GDP 2001-2016
# Path4 = population estimate 2000-2010
# Path5 = population estimate 2010-2018

In [0]:
# Energy
path1 = 'annual_consumption_state.xls'

# GDP
path2 = 'gdp_all_areas_2001_to_2018.csv'

# Population 2000-2010
path4 ='annual_population_2000_to_2010.xls'
path4_cols = ['state','census','esimate_base','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010']

# Population 2010-2019
path5 = 'annual_population_2010_to_2017.xlsx'
path5_cols = ['state','census','esimate_base','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019']


energy_data = pd.read_excel(path1,skiprows=1)# NA values - (D)

gdp_sector_data = pd.read_csv(path2,encoding='latin-1',low_memory=False,na_values='(NA)')

population0 = pd.read_excel(path4,skiprows=8,names=path4_cols,skipfooter=8)

population1 = pd.read_excel(path5,skiprows=8,names=path5_cols,skipfooter=3)

# Read in Population XL table

In [0]:
print(population0.shape)
population0.head()

(53, 14)

,state,census,esimate_base,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
0,.Alabama,4447207.0,4452173.0,4467634.0,4480089.0,4503491.0,4530729.0,4569805.0,4628981.0,4672840.0,4718206.0,4757938.0,4779736.0,4785298.0
1,.Alaska,626933.0,627963.0,633714.0,642337.0,648414.0,659286.0,666946.0,675302.0,680300.0,687455.0,698895.0,710231.0,713985.0
2,.Arizona,5130247.0,5160586.0,5273477.0,5396255.0,5510364.0,5652404.0,5839077.0,6029141.0,6167681.0,6280362.0,6343154.0,6392017.0,6413737.0
3,.Arkansas,2673293.0,2678588.0,2691571.0,2705927.0,2724816.0,2749686.0,2781097.0,2821761.0,2848650.0,2874554.0,2896843.0,2915918.0,2921606.0
4,.California,33871653.0,33987977.0,34479458.0,34871843.0,35253159.0,35574576.0,35827943.0,36021202.0,36250311.0,36604337.0,36961229.0,37253956.0,37349363.0

In [0]:
print(population1.shape)
population1.head()

(55, 13)

,state,census,esimate_base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,.Alabama,4779736.0,4780125.0,4785437.0,4799069.0,4815588.0,4830081.0,4841799.0,4852347.0,4863525.0,4874486.0,4887681.0,4903185.0
1,.Alaska,710231.0,710249.0,713910.0,722128.0,730443.0,737068.0,736283.0,737498.0,741456.0,739700.0,735139.0,731545.0
2,.Arizona,6392017.0,6392288.0,6407172.0,6472643.0,6554978.0,6632764.0,6730413.0,6829676.0,6941072.0,7044008.0,7158024.0,7278717.0
3,.Arkansas,2915918.0,2916031.0,2921964.0,2940667.0,2952164.0,2959400.0,2967392.0,2978048.0,2989918.0,3001345.0,3009733.0,3017804.0
4,.California,37253956.0,37254519.0,37319502.0,37638369.0,37948800.0,38260787.0,38596972.0,38918045.0,39167117.0,39358497.0,39461588.0,39512223.0

In [0]:
# Drop na values for misc rows
population0 = population0.dropna()

population1 = population1.dropna()

# Reset index and drop index column created
population0 = population0.reset_index()
population0.columns.drop(['index'])

population1 = population1.reset_index()
population1.columns.drop(['index'])

Index(['state', 'census', 'esimate_base', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019'],
      dtype='object')

In [0]:
# limited PR data
population0 = population0.drop(51)
population1 = population1.drop(51)
# limited Hawaii data
population0 = population0.drop(11)
population1 = population1.drop(11)

# Begin with State names, Year of Observation


### State name:

In [0]:
# Get a convienient list of State Names in ALphabetical Order
states = population1['state'].to_list()

In [0]:
# Format Strings of State Names
state_li = []
for i in range(len(states)):
    state_li.append(states[i].replace(".",""))

state_li

['Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'District of Columbia',
 'Florida',
 'Georgia',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming']

In [0]:
# Build a Year of observation for each state name 
yearsss = []
year_li = []
for i in range(2001,2018):
    yr = [i]*50
    yearsss.append(yr)
for sublist in yearsss:
    for item in sublist:
        year_li.append(item)


# Check Size for observations and state names
print('Year Length:',len(year_li))
print('State Length:',len(state_li*17))

Year Length: 850
State Length: 850

In [0]:
# Create Pandas Series and stick them together into one series for Observation identification
states = pd.Series(state_li*17)
years = pd.Series(year_li)
data = states+years.astype(str)
print('Data Length:',len(data))
data.head()

Data Length: 850

0       Alabama2001
1        Alaska2001
2       Arizona2001
3      Arkansas2001
4    California2001
dtype: object

In [0]:
# Combine identifier with new population column
# Build Single Column for final frame

new = []
final = []
for i in range(2001,2011):
    pop = population0[f'{i}'].to_list()
    new.append(pop)
for i in range(2011,2018):
    pop1 = population1[f'{i}'].to_list()
    new.append(pop1)

for sublist in new:
    for item in sublist:
        final.append(item)



population_column = pd.Series(final)
objects = (data,population_column)
data = pd.concat(objects,axis=1)
data.columns = ['state','population_estimate']
print(data.shape)
data.tail()

(850, 2)

                 state  population_estimate
845       Virginia2017            8463587.0
846     Washington2017            7423362.0
847  West Virginia2017            1817004.0
848      Wisconsin2017            5790186.0
849        Wyoming2017             578931.0

In [0]:
print(gdp_sector_data.shape)
gdp_sector_data.head(60)

(107988, 26)

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,"""00000""",United States *,,CAGDP2,1.0,...,All industry total,Thousands of dollars,10581822000,10936418000,11458246000,12213730000,13036637000,13814609000,14451860000,14712845000,14448932000,14992052000,15542582000,16197007000,16784851000,17527258000,18224780000,18715040000,19519424000,20580223000
1,"""00000""",United States *,,CAGDP2,2.0,...,Private industries,Thousands of dollars,9188887407,9462019658,9905898777,10582458507,11326368895,12022614053,12564794482,12731236504,12403879944,12884088643,13405519970,14037519000,14572341002,15255889000,15883937000,16326092000,17065802000,18035586000
2,"""00000""",United States *,,CAGDP2,3.0,11,"Agriculture, forestry, fishing and hunting",Thousands of dollars,99835618,95628974,113953500,142945219,128346703,125130352,144062341,147243983,129967839,146299048,180944850,179573000,215600643,201003000,180655000,164281000,174579000,166464000
3,"""00000""",United States *,,CAGDP2,6.0,21,"Mining, quarrying, and oil and gas extraction",Thousands of dollars,123924346,112417015,138999819,166517463,225677474,273321649,313962886,392174617,275840872,305838102,356315451,358798000,386518621,416375000,259863000,215621000,287324000,346645000
4,"""00000""",United States *,,CAGDP2,10.0,22,Utilities,Thousands of dollars,181332474,177617765,184029170,199216500,198142868,226848389,231906987,241686344,258241011,278837008,287459067,279651000,286340248,298076000,299214000,302355000,315114000,325852000
5,"""00000""",United States *,,CAGDP2,11.0,23,Construction,Thousands of dollars,486484509,493559515,525240363,584642803,651816163,697082819,715327244,648879438,565646742,525125766,524431186,553419000,587552530,636899000,695598000,745534000,790367000,839143000
6,"""00000""",United States *,,CAGDP2,12.0,31-33,Manufacturing,Thousands of dollars,1473849713,1468491776,1524213067,1608098059,1693441358,1793844215,1844745020,1800843857,1702135406,1797010248,1867565573,1927057000,1991904251,2050232000,2126536000,2101178000,2185094000,2321192000
7,"""00000""",United States *,,CAGDP2,13.0,"321,327-339",Durable goods manufacturing,Thousands of dollars,833390176,832841637,863190512,905121072,956799293,1004410039,1030624381,999725846,880960706,964323862,1015190447,1061711000,1101963233,1134092000,1184000000,1190531000,1230670000,1296405000
8,"""00000""",United States *,,CAGDP2,25.0,"311-316,322-326",Nondurable goods manufacturing,Thousands of dollars,640459537,635650138,661022555,702976988,736642065,789434176,814120640,801118011,821174700,832686386,852375126,865346000,889941017,916140000,942537000,910646000,954424000,1024786000
9,"""00000""",United States *,,CAGDP2,34.0,42,Wholesale trade,Thousands of dollars,613751789,613146665,641449945,697110413,754948732,811473488,857827027,884319332,834180413,888905178,934906601,997353000,1040067218,1088175000,1142481000,1133764000,1164604000,1212229000
10,"""00000""",United States *,,CAGDP2,35.0,44-45,Retail trade,Thousands of dollars,709491589,732632439,769609806,795568227,840827046,869941145,869218464,848675136,827625038,851507930,871931506,908415000,949450833,974513000,1024743000,1056507000,1084269000,1126879000
11,"""00000""",United States *,,CAGDP2,36.0,48-49,Transportation and warehousing,Thousands of dollars,308058113,305676962,321443885,352061585,375823961,410382353,413903733,426803203,404625892,433035643,451444049,471965000,491098927,521839000,564448000,580756000,612408000,658125000
12,"""00000""",United States *,,CAGDP2,45.0,51,Information,Thousands of dollars,502386182,550581732,564861171,620362948,642338031,651994560,706937366,742961347,721921799,753279982,759818521,758952000,828927859,842420000,897997000,959338000,997621000,1067744000
13,"""00000""",United States *,,CAGDP2,50.0,"52, 53","Finance, insurance, real estate, rental, and...",Thousands of dollars,2128100613,2216959808,2295917819,2389114003,2606173273,2743923579,2848272318,2762742248,2867666045,2942970279,3045324048,3260964000,3322790226,3548046000,3753527000,3930156000,4088466000,4301603000
14,"""00000""",United States *,,CAGDP2,51.0,52,Finance and insurance,Thousands of dollars,803102696,816432055,846319121,872386572,973705270,1034191619,1030549065,873248333,966603754,1003613216,1026042065,1162805000,1144934477,1282633000,1371593000,1444263000,1486320000,1567321000
15,"""00000""",United States *,,CAGDP2,56.0,53,Real estate and rental and leasing,Thousands of dollars,1324997917,1400527752,1449598698,1516727430,1632468003,1709731961,1817723253,1889493915,1901062291,1939357063,2019281983,2098159000,2177855749,2265413000,2381934000,2485892000,2602146000,2734282000
16,"""00000""",United States *,,CAGDP2,59.0,"54, 55, 56",Professional and business services,Thousands of dollars,1155475424,1189855573,1247433870,1341034592,1446405598,1546639812,1666712363,1777103534,1688720320,1766835733,1856659272,1964658000,2017288766,2118443000,2234897000,2302525000,2427560000,2579417000
17,"""00000""",United States *,,CAGDP2,60.0,54,"Professional, scientific, and technical ser...",Thousands of dollars,686775562,714721264,741331391,792390260,852400846,917072216,984928980,1082135126,1031282125,1063884414,1124558402,1188532000,1208524288,1267640000,1346743000,1392532000,1452121000,1546411000
18,"""00000""",United States *,,CAGDP2,64.0,55,Management of companies and enterprises,Thousands of dollars,173619562,174967324,185600494,203127901,214112308,230477491,251156879,256415714,245031292,265388052,277962802,302195000,319700296,332871000,348219000,351172000,373682000,394871000
19,"""00000""",United States *,,CAGDP2,65.0,56,Administrative and support and waste manage...,Thousands of dollars,295080300,300166986,320501985,345516431,379892443,399090105,430626504,438552695,412406904,437563267,454138068,473931000,489064182,517932000,539935000,558821000,601757000,638135000
20,"""00000""",United States *,,CAGDP2,68.0,"61, 62","Educational services, health care, and socia...",Thousands of dollars,749894913,807029572,862800127,927338966,970491185,1035449612,1087931656,1184814620,1267492679,1310657097,1354712843,1407364000,1447191627,1491925000,1571852000,1650716000,1708925000,1792456000
21,"""00000""",United States *,,CAGDP2,69.0,61,Educational services,Thousands of dollars,101705358,106490997,116775490,129073254,133228417,142922760,151528448,167783303,188330918,198870670,206047744,213883000,217461654,226087000,235462000,245988000,246529000,255548000
22,"""00000""",United States *,,CAGDP2,70.0,62,Health care and social assistance,Thousands of dollars,648189554,700538575,746024636,798265711,837262768,892526852,936403208,1017031316,1079161761,1111786427,1148665099,1193481000,1229729973,1265838000,1336390000,1404729000,1462396000,1536908000
23,"""00000""",United States *,,CAGDP2,75.0,"71, 72","Arts, entertainment, recreation, accommodati...",Thousands of dollars,390727736,413526529,432128417,461170040,481237764,511536768,533504099,542721181,533280996,555795109,580916741,621361000,651327360,691354000,739692000,781250000,815397000,860608000
24,"""00000""",United States *,,CAGDP2,76.0,71,"Arts, entertainment, and recreation",Thousands of dollars,96728398,103788030,111038462,117867200,122217328,130479066,137411157,143182829,144636766,152246569,158311624,171233000,177399398,189107000,193120000,206752000,214434000,227422000
25,"""00000""",United States *,,CAGDP2,79.0,72,Accommodation and food services,Thousands of dollars,293999338,309738499,321089955,343302839,359020435,381057703,396092942,399538352,388644230,403548539,422605117,450127000,473927962,502247000,546572000,574499000,600963000,633186000
26,"""00000""",United States *,,CAGDP2,82.0,81,Other services (except government and govern...,Thousands of dollars,265574388,284895334,283817819,297277690,310698741,325045310,330482977,330267664,326534892,327991521,333090262,347991000,356281892,376588000,392433000,402110000,414073000,437228000
27,"""00000""",United States *,,CAGDP2,83.0,...,Government and government enterprises,Thousands of dollars,1392933992,1474399396,1552345101,1631270640,1710271335,1791997362,1887064169,1981607580,2045053081,2107964083,2137061133,2159489000,2212508188,2271370000,2340844000,2388949000,2453622000,2544637000
28,"""00000""",United States *,,CAGDP2,87.0,"11, 21",Natural resources and mining,Thousands of dollars,223759963,208045989,252953319,309462682,354024177,398452002,458025227,539418600,405808710,452137149,537260301,538370329,602119264,617378000,440516000,379904000,461901000,513107000
29,"""00000""",United States *,,CAGDP2,88.0,"42, 44-45",Trade,Thousands of dollars,1323243378,1345779104,1411059751,1492678640,1595775778,1681414633,1727045491,1732994468,1661805451,1740413108,1806838108,1905768324,1989518052,2062688000,2167227000,2190270000,2248875000,2339109000
30,"""00000""",United States *,,CAGDP2,89.0,...,Transportation and utilities,Thousands of dollars,489390588,483294727,505473055,551278084,573966829,637230742,645810720,668489547,662866903,711872651,738903116,751615260,777439175,819920000,863662000,883113000,927521000,983979000
31,"""00000""",United States *,,CAGDP2,90.0,...,Manufacturing and information,Thousands of dollars,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,"""00000""",United States *,,CAGDP2,91.0,...,Private goods-producing industries 2/,Thousands of dollars,2184094185,2170097280,2302406748,2502203545,2699281698,2889379036,3018097492,2989141895,2673590859,2774273164,2929257060,3018846000,3181576045,3304509000,3262652000,3226614000,3437364000,3673443000
33,"""00000""",United States *,,CAGDP2,92.0,...,Private services-providing industries 3/,Thousands of dollars,7004793221,7291922378,7603492029,8080254962,8627087197,9133235016,9546696990,9742094609,9730289085,10109815479,10476262911,11018673000,11390764957,11951380000,12621284000,13099478000,13628438000,14362142000
34,"""01000""",Alabama,5,CAGDP2,1.0,...,All industry total,Thousands of dollars,122449316,127792310,133739237,146524706,155970398,163853599,169678352,172686846,168348037,174753001,181349789,186298987,191481016,194211018,200402713,203829840,210364397,221735502
35,"""01000""",Alabama,5,CAGDP2,2.0,...,Private industries,Thousands of dollars,102670724,106583943,111214744,122795708,130877334,137644699,141320725,143302183,137476539,143259039,149297054,154280965,159253294,161155693,166365821,169210642,174895867,185175681
36,"""01000""",Alabama,5,CAGDP2,3.0,11,"Agriculture, forestry, fishing and hunting",Thousands of dollars,1988838,1588009,2175016,2925346,2630361,2099708,1944306,1894946,1915963,1928347,1591042,1802169,3113696,2518678,2561122,1978866,2308418,2275253
37,"""01000""",Alabama,5,CAGDP2,6.0,21,"Mining, quarrying, and oil and gas extraction",Thousands of dollars,1379713,1207862,1588205,1960549,2747046,2895314,3431980,3849038,2819777,3034470,2949460,2891824,2760597,2524874,2417132,1724871,2783888,3007303
38,"""01000""",Alabama,5,CAGDP2,10.0,22,Utilities,Thousands of dollars,3572672,3442155,3622877,3916215,3824010,4378835,4574488,4719355,5052492,5583912,5820817,5689355,5680349,5860950,6002772,6200305,6154428,6490588
39,"""01000""",Alabama,5,CAGDP2,11.0,23,Construction,Thousands of dollars,6199991,6208307,6454752,6830137,7726899,8469638,9165687,8367937,7411857,6809466,6615077,6878611,6714428,6675669,6798335,7188491,7374842,7846570
40,"""01000""",Alabama,5,CAGDP2,12.0,31-33,Manufacturing,Thousands of dollars,21192168,21249623,21745931,26408786,28007971,29513166,29040323,29004315,25250844,27423255,31281529,31921808,33617769,33282274,33369604,34345128,35390409,37617143
41,"""01000""",Alabama,5,CAGDP2,13.0,"321,327-339",Durable goods manufacturing,Thousands of dollars,11255058,11815439,12025637,15085213,17059988,18236757,17726205,18566146,13831821,16260622,17757522,19242776,20425725,20390787,21359133,22003058,22411629,23492520
42,"""01000""",Alabama,5,CAGDP2,25.0,"311-316,322-326",Nondurable goods manufacturing,Thousands of dollars,9937110,9434185,9720294,11323573,10947983,11276409,11314118,10438169,11419023,11162633,13524007,12679031,13192044,12891487,12010472,12342071,12978780,14124623
43,"""01000""",Alabama,5,CAGDP2,34.0,42,Wholesale trade,Thousands of dollars,7250209,7256058,7515943,8165655,8967697,9542700,9899972,10379256,9792861,10139860,10369328,10603959,11088440,11258559,11473832,11812160,11977685,12353785
44,"""01000""",Alabama,5,CAGDP2,35.0,44-45,Retail trade,Thousands of dollars,9435489,9832119,10376695,10802272,11806853,12293781,12391854,12139808,11768421,11962213,12140909,12550419,12859324,12974713,13521662,14062530,14185111,15296914
45,"""01000""",Alabama,5,CAGDP2,36.0,48-49,Transportation and warehousing,Thousands of dollars,3233047,3251020,3425734,3823156,4164011,4518375,4553851,4776326,4406756,4673199,4812140,4802396,4824977,4992550,5212744,5333407,5703844,6154528
46,"""01000""",Alabama,5,CAGDP2,45.0,51,Information,Thousands of dollars,4215250,4519838,4364472,4798805,5187053,5259106,4916257,5053158,4679896,4587827,4481843,4252373,4465195,4403529,4658874,4631477,4667750,4786229
47,"""01000""",Alabama,5,CAGDP2,50.0,"52, 53","Finance, insurance, real estate, rental, and...",Thousands of dollars,19747667,21906555,22144695,23146706,23840914,24425660,25458440,25197194,25714097,26970772,27923863,30379075,30736073,32173385,33872441,33844961,34407228,36755976
48,"""01000""",Alabama,5,CAGDP2,51.0,52,Finance and insurance,Thousands of dollars,6914072,8309554,8808502,9303839,9682318,9291072,9079734,7891269,7915588,8371866,8090331,10219744,10340892,11618238,12280409,11628986,11945360,13198697
49,"""01000""",Alabama,5,CAGDP2,56.0,53,Real estate and rental and leasing,Thousands of dollars,12833595,13597001,13336193,13842866,14158597,15134588,16378705,17305925,17798510,18598906,19833532,20159331,20395181,20555147,21592032,22215975,22461868,23557279
50,"""01000""",Alabama,5,CAGDP2,59.0,"54, 55, 56",Professional and business services,Thousands of dollars,9459550,10157919,11252721,12206468,12983572,14047165,15071300,16213244,16151566,16927720,17403874,17744080,17991931,18241730,18954306,19621620,20882384,22013621
51,"""01000""",Alabama,5,CAGDP2,60.0,54,"Professional, scientific, and technical ser...",Thousands of dollars,6189588,6697631,7403590,7959723,8268613,9028297,9568883,10544303,10600511,10666146,10952158,11082521,11280683,11392378,11905218,12302513,13015543,13819764
52,"""01000""",Alabama,5,CAGDP2,64.0,55,Management of companies and enterprises,Thousands of dollars,681598,722719,899973,1050672,1119792,1258805,1420524,1408336,1493625,1662106,1748496,1859552,1840452,1756823,1823675,2014928,2175791,2148068
53,"""01000""",Alabama,5,CAGDP2,65.0,56,Administrative and support and waste manage...,Thousands of dollars,2588364,2737569,2949158,3196073,3595167,3760063,4081892,4260605,4057430,4599468,4703220,4802007,4870796,5092529,5225413,5304179,5691049,6045789
54,"""01000""",Alabama,5,CAGDP2,68.0,"61, 62","Educational services, health care, and socia...",Thousands of dollars,8394939,9002675,9375592,10133741,10668510,11403472,11836825,12627593,13345468,13763325,14232788,14587260,14975553,15343162,16110358,16713987,17020380,17681789
55,"""01000""",Alabama,5,CAGDP2,69.0,61,Educational services,Thousands of dollars,586164,614433,667484,765143,769116,824527,906833,942672,1075424,1137785,1169934,1197515,1218898,1276371,1327513,1388354,1323420,1340424
56,"""01000""",Alabama,5,CAGDP2,70.0,62,Health care and social assistance,Thousands of dollars,7808775,8388242,8708107,9368598,9899394,10578944,10929992,11684920,12270044,12625540,13062854,13389746,13756655,14066791,14782845,15325634,15696960,16341365
57,"""01000""",Alabama,5,CAGDP2,75.0,"71, 72","Arts, entertainment, recreation, accommodati...",Thousands of dollars,3270991,3419077,3553860,3702633,4036686,4307178,4486697,4518154,4581006,4741284,4928275,5347583,5559795,5863678,6239326,6554370,6766801,7232378
58,"""01000""",Alabama,5,CAGDP2,76.0,71,"Arts, entertainment, and recreation",Thousands of dollars,437251,466327,485862,494315,527548,552174,581484,596443,610840,612408,620624,670767,674313,709015,715747,769627,786021,851691
59,"""01000""",Alabama,5,CAGDP2,79.0,72,Accommodation and food services,Thousands of dollars,2833740,2952750,3067998,3208318,3509138,3755004,3905213,3921711,3970167,4128877,4307651,4676815,4885482,5154663,5523579,5784743,5980780,6380686

In [0]:
# Get list of new column names
gdp_columns = gdp_sector_data['Description'][0:34].to_list()

In [0]:
gdp_columns[2]

'  Agriculture, forestry, fishing and hunting'

In [0]:
# Extract State Totals from All areas dataframe
# Concatenate 
concats = []
for state in state_li:
    abb = gdp_sector_data[gdp_sector_data['GeoName']==state]
    concats.append(abb)
    
temp = pd.concat(concats)
temp = temp.reset_index()
gdp_set = temp.copy()

# Drop uneccessary columns

gdp_set = gdp_set.drop(columns=['index','GeoFIPS','Region','TableName',
                                'LineCode','IndustryClassification','Unit'])

gdp = gdp_set.copy()

In [0]:
print(gdp.shape)
gdp.head()

(1700, 20)

,GeoName,Description,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Alabama,All industry total,122449316,127792310,133739237,146524706,155970398,163853599,169678352,172686846,168348037,174753001,181349789,186298987,191481016,194211018,200402713,203829840,210364397,221735502
1,Alabama,Private industries,102670724,106583943,111214744,122795708,130877334,137644699,141320725,143302183,137476539,143259039,149297054,154280965,159253294,161155693,166365821,169210642,174895867,185175681
2,Alabama,"Agriculture, forestry, fishing and hunting",1988838,1588009,2175016,2925346,2630361,2099708,1944306,1894946,1915963,1928347,1591042,1802169,3113696,2518678,2561122,1978866,2308418,2275253
3,Alabama,"Mining, quarrying, and oil and gas extraction",1379713,1207862,1588205,1960549,2747046,2895314,3431980,3849038,2819777,3034470,2949460,2891824,2760597,2524874,2417132,1724871,2783888,3007303
4,Alabama,Utilities,3572672,3442155,3622877,3916215,3824010,4378835,4574488,4719355,5052492,5583912,5820817,5689355,5680349,5860950,6002772,6200305,6154428,6490588

# Transforming Dataframe into new frame layout with the same information:

In [0]:
# find my groups of state gdp information to transform into an observation by the year
print(len(gdp),'rows, divided by 34 rows for each state:',len(gdp)%34)

1700 rows, divided by 34 rows for each state: 0

In [0]:
li = gdp['Description'][0:34].to_list()
obj = []
for i in range(0,1700,34):
    for j in range(2,19):
        df = gdp.iloc[i:i+34,j:j+1]
        obj.append(df)

container = pd.DataFrame(columns=li) 

for i in range(0,17):
    for j in range(0+i,len(obj),17):
        state = obj[j].T
        state.columns = li
        container = container.append(state)
    
    
    

final_gdp = container.reset_index(drop=True)

In [0]:
print(final_gdp.shape)
print(data.shape)
data

(850, 34)
(850, 2)

                 state  population_estimate
0          Alabama2001            4480089.0
1           Alaska2001             642337.0
2          Arizona2001            5396255.0
3         Arkansas2001            2705927.0
4       California2001           34871843.0
..                 ...                  ...
845       Virginia2017            8463587.0
846     Washington2017            7423362.0
847  West Virginia2017            1817004.0
848      Wisconsin2017            5790186.0
849        Wyoming2017             578931.0

[850 rows x 2 columns]

In [0]:
objects = (data,final_gdp)
dframe = pd.concat(objects,axis=1)
print(dframe.shape)

(850, 36)

# Checkpoint:

In [0]:
finalest_frame = dframe.copy()

In [0]:
finalest_frame

,state,population_estimate,All industry total,Private industries,"Agriculture, forestry, fishing and hunting","Mining, quarrying, and oil and gas extraction",Utilities,Construction,Manufacturing,Durable goods manufacturing,Nondurable goods manufacturing,Wholesale trade,Retail trade,Transportation and warehousing,Information,"Finance, insurance, real estate, rental, and leasing",Finance and insurance,Real estate and rental and leasing,Professional and business services,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,"Educational services, health care, and social assistance",Educational services,Health care and social assistance,"Arts, entertainment, recreation, accommodation, and food services","Arts, entertainment, and recreation",Accommodation and food services,Other services (except government and government enterprises),Government and government enterprises,Natural resources and mining,Trade,Transportation and utilities,Manufacturing and information,Private goods-producing industries 2/,Private services-providing industries 3/
0,Alabama2001,4480089.0,122449316,102670724,1988838,1379713,3572672,6199991,21192168,11255058,9937110,7250209,9435489,3233047,4215250,19747667,6914072,12833595,9459550,6189588,681598,2588364,8394939,586164,7808775,3270991,437251,2833740,3330197,19778592,3368551,16685698,6805719,NaN,30760711,71910013
1,Alaska2001,642337.0,28420361,22500511,353602,4037335,412750,1430273,947374,111557,835817,718870,1647894,3696983,764578,3555408,875412,2679996,1772032,986375,243387,542270,1575046,109976,1465071,986237,124731,861506,602128,5919850,4390937,2366764,4109733,NaN,6768584,15731927
2,Arizona2001,5396255.0,171474249,148676367,1518311,1286682,3507169,10926930,22223337,19303002,2920335,10041640,13716889,4428573,5600262,36608914,12841216,23767699,17135705,8514266,1684934,6936505,10841516,936880,9904636,7048067,1649312,5398755,3792374,22797883,2804993,23758529,7935741,NaN,35955259,112721108
3,Arkansas2001,2705927.0,70601352,61483503,2321139,409977,1836222,3311111,13887564,7023714,6863850,4439486,5204837,3378595,2563769,9738432,3075485,6662946,5385034,2144896,1869578,1370559,5250846,293447,4957398,1899181,234349,1664832,1857311,9117849,2731116,9644322,5214818,NaN,19929790,41553712
4,California2001,34871843.0,1384111202,1206974416,17706583,6427793,14641450,58705374,177808856,112985396,64823459,76191751,99002817,33587415,92966823,278252558,73288377,204964181,181772130,112885048,27984480,40902601,78906127,10753721,68152407,55403012,17791169,37611843,35601726,177136786,24134376,175194568,48228865,NaN,260648606,946325810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
845,Virginia2017,8463587.0,509372781,414966890,1719897,1466151,7522893,20268655,43169425,17775531,25393894,21714397,25797653,13592482,17061774,97672053,26144653,71527400,97214162,66501725,12418602,18293834,37863599,5068241,32795359,17208629,3422196,13786433,12695120,94405890,3186048,47512050,21115375,NaN,66624128,348342762
846,Washington2017,7423362.0,524814612,456518728,7656350,482080,4431510,22205763,59974985,45608754,14366231,27278000,43334304,14849826,61870738,92491393,19548036,72943358,54843030,33811646,6727701,14303683,36653209,3124029,33529180,20099009,4232793,15866217,10348531,68295884,8138430,70612303,19281336,NaN,90319178,366199551
847,West Virginia2017,1817004.0,73162915,61389797,313967,7585613,2229668,3384430,7583345,3325437,4257909,3419745,5024252,2220728,1416005,9761262,2557418,7203845,5869047,3267054,704366,1897627,8271719,427847,7843872,2832564,395282,2437282,1477453,11773118,7899580,8443996,4450396,NaN,18867356,42522442
848,Wisconsin2017,5790186.0,321987743,286717491,4648503,1343442,5579614,13160387,60044175,34923330,25120845,19941088,17931194,9588662,11266017,63095124,25589226,37505898,31280489,14199979,9212180,7868331,31855635,3541793,28313842,10058911,2355135,7703776,6924251,35270252,5991945,37872281,15168276,NaN,79196507,207520984
849,Wyoming2017,578931.0,37453599,31246837,639449,7373433,1051762,1993913,1946179,475691,1470488,1473687,2104193,3187562,631307,5053187,1005872,4047315,1796622,1129261,121464,545897,1780050,114394,1665656,1628767,273483,1355284,586725,6206762,8012882,3577880,4239325,NaN,11952974,19293863

# Create Energy Consumption columns for a Target(s)

In [0]:
# Get matching years of observation to previous sets
energy1 = energy_data[energy_data['YEAR']>=2002]
print(energy1.shape)

(13301, 5)

In [0]:
# rename columns to simplest form
energy1.columns = ['yr','state','producer','source','consumption2002']

# Extract Target of Natural Gas Consumption from all Industries
energy_nat_gas = energy1[energy1['source']=='Natural Gas (Mcf)']
nat_gas_consumption = energy_nat_gas[energy_nat_gas['producer']=='Total Electric Power Industry']

# Format strings and reset index for better relation
nat_gas_consumption = nat_gas_consumption.apply(lambda x: x.astype(str).str.lower())
nat_gas_consumption = nat_gas_consumption.reset_index()

print(nat_gas_consumption.shape)
nat_gas_consumption.head()

(861, 6)

,index,yr,state,producer,source,consumption2002
0,8429,2002,ak,total electric power industry,natural gas (mcf),41364632
1,8442,2002,al,total electric power industry,natural gas (mcf),131531462
2,8459,2002,ar,total electric power industry,natural gas (mcf),42744550
3,8472,2002,az,total electric power industry,natural gas (mcf),145302961
4,8485,2002,ca,total electric power industry,natural gas (mcf),776884309

In [0]:
nat_gas_consumption['yr'].value_counts()

2011    52
2016    51
2018    51
2002    51
2013    51
2003    51
2015    51
2012    51
2017    51
2014    51
2006    50
2007    50
2004    50
2009    50
2010    50
2008    50
2005    50
Name: yr, dtype: int64

In [0]:
# need 17 values for each state 
# 13 extra rows = (+9 dc - 17 us total - 3 extra from hi) = -13rows

# drop us total values index = (50,101,151,201,251,301,351,401,451,496,501,547,598,649,700,751,802,853)
nat_gas_consumption = nat_gas_consumption.drop([50,101,151,201,251,301,351,401,
                                                451,496,547,598,649,700,751,
                                                802,853])

# drop HI index =(10,61,463)(refer to begining of code)
nat_gas_consumption = nat_gas_consumption.drop([10,61,463])
# 
# add na values to DC (8,59,110,160,210,260,310,360,410)
ins02 = [8,'District of Columbia2010','total electric power industry','natural gas (mcf)',np.NaN]
ins03 = [59,'District of Columbia2010','total electric power industry','natural gas (mcf)',np.NaN]
ins04 = [110,'District of Columbia2010','total electric power industry','natural gas (mcf)',np.NaN]
ins05 = [160,'District of Columbia2010','total electric power industry','natural gas (mcf)',np.NaN]
ins06 = [210,'District of Columbia2010','total electric power industry','natural gas (mcf)',np.NaN]
ins07 = [260,'District of Columbia2010','total electric power industry','natural gas (mcf)',np.NaN]
ins08 = [310,'District of Columbia2010','total electric power industry','natural gas (mcf)',np.NaN]
ins09 = [360,'District of Columbia2010','total electric power industry','natural gas (mcf)',np.NaN]
ins10 = [410,'District of Columbia2010','total electric power industry','natural gas (mcf)',np.NaN]

In [0]:
nat_gas_consumption['yr'].value_counts()

2016    50
2014    50
2015    50
2013    50
2011    50
2012    50
2017    50
2018    50
2006    49
2004    49
2007    49
2009    49
2010    49
2008    49
2003    49
2002    49
2005    49
Name: yr, dtype: int64

In [0]:
# Build State Abbreviation Dict

state_abv_dict = {'al':'Alabama','ak':'Alaska','az':'Arizona','ar':'Arkansas',
                  'ca':'California','co':'Colorado','ct':'Connecticut','de':'Delaware',
                  'dc':'District of Columbia','fl':'Florida','ga':'Georgia','hi':'Hawaii','id':'Idaho',
                  'il':'Illinois','in':'Indiana','ia':'Iowa','ks':'Kansas','ky':'Kentucky',
                  'la':'Louisiana','me':'Maine','md':'Maryland','ma':'Massachusetts',
                  'mi':'Michigan','mn':'Minnesota','ms':'Mississippi','mo':'Missouri',
                  'mt':'Montana','ne':'Nebraska','nv':'Nevada','nh':'New Hampshire',
                  'nj':'New Jersey','nm':'New Mexico','ny':'New York','nc':'North Carolina',
                  'nd':'North Dakota','oh':'Ohio','ok':'Oklahoma','or':'Oregon','pa':'Pennsylvania',
                  'ri':'Rhode Island','sc':'South Carolina','sd':'South Dakota','tn':'Tennessee',
                  'tx':'Texas','ut':'Utah','vt':'Vermont','va':'Virginia','wa':'Washington',
                  'wv':'West Virginia','wi':'Wisconsin','wy':'Wyoming'}

In [0]:
nat_gas_consumption.head()

,index,yr,state,producer,source,consumption2002
0,8429,2002,ak,total electric power industry,natural gas (mcf),41364632
1,8442,2002,al,total electric power industry,natural gas (mcf),131531462
2,8459,2002,ar,total electric power industry,natural gas (mcf),42744550
3,8472,2002,az,total electric power industry,natural gas (mcf),145302961
4,8485,2002,ca,total electric power industry,natural gas (mcf),776884309

In [0]:
nat_gas_consumption['yr'].astype(int)-1

0      2001
1      2001
2      2001
3      2001
4      2001
       ...
856    2017
857    2017
858    2017
859    2017
860    2017
Name: yr, Length: 841, dtype: int64

In [0]:
# Replace with Dict
nat_gas_consumption['state']= nat_gas_consumption['state'].replace(state_abv_dict)

# Bond name and state for identifier
prev_year = nat_gas_consumption['yr'].astype(int)-1
nat_gas_consumption['year_'] = prev_year
nat_gas_consumption['state'] = nat_gas_consumption['state']+nat_gas_consumption['year_'].astype(str)

# Drop The year column after checking random spots
nat_gas_consumption = nat_gas_consumption.drop(columns=['yr','year_'])

print(nat_gas_consumption.shape)
nat_gas_consumption.head()

(841, 5)

,index,state,producer,source,consumption2002
0,8429,Alaska2001,total electric power industry,natural gas (mcf),41364632
1,8442,Alabama2001,total electric power industry,natural gas (mcf),131531462
2,8459,Arkansas2001,total electric power industry,natural gas (mcf),42744550
3,8472,Arizona2001,total electric power industry,natural gas (mcf),145302961
4,8485,California2001,total electric power industry,natural gas (mcf),776884309

In [0]:

def Insert_row(row_number, df, row_value): 
    # Starting value of upper half 
    start_upper = 0
   
    # End value of upper half 
    end_upper = row_number 
   
    # Start value of lower half 
    start_lower = row_number 
   
    # End value of lower half 
    end_lower = df.shape[0] 
   
    # Create a list of upper_half index 
    upper_half = [*range(start_upper, end_upper, 1)] 
   
    # Create a list of lower_half index 
    lower_half = [*range(start_lower, end_lower, 1)] 
   
    # Increment the value of lower half by 1 
    lower_half = [x.__add__(1) for x in lower_half] 
   
    # Combine the two lists 
    index_ = upper_half + lower_half 
   
    # Update the index of the dataframe 
    df.index = index_ 
   
    # Insert a row at the end 
    df.loc[row_number] = row_value 
    
    # Sort the index labels 
    df = df.sort_index() 
   
    # return the dataframe 
    return df

In [0]:

# add na values to DC (8,59,110,160,210,260,310,360,410)

row_number = 8
row_value = ins02  
  
if row_number > nat_gas_consumption.index.max()+1: 
    print("Invalid row_number") 
else: 
      
    # Let's call the function and insert the row 
    # at the second position 
    nat_gas_consumption = Insert_row(row_number, nat_gas_consumption, row_value) 
   


print(nat_gas_consumption.shape)


row_number = 59
row_value = ins03  
  
if row_number > nat_gas_consumption.index.max()+1: 
    print("Invalid row_number") 
else: 
      
    # Let's call the function and insert the row 
    # at the second position 
    nat_gas_consumption = Insert_row(row_number, nat_gas_consumption, row_value) 
   


print(nat_gas_consumption.shape)

row_number = 110
row_value = ins04  
  
if row_number > nat_gas_consumption.index.max()+1: 
    print("Invalid row_number") 
else: 
      
    # Let's call the function and insert the row 
    # at the second position 
    nat_gas_consumption = Insert_row(row_number, nat_gas_consumption, row_value) 
   


print(nat_gas_consumption.shape)

row_number = 160
row_value = ins05  
  
if row_number > nat_gas_consumption.index.max()+1: 
    print("Invalid row_number") 
else: 
      
    # Let's call the function and insert the row 
    # at the second position 
    nat_gas_consumption = Insert_row(row_number, nat_gas_consumption, row_value) 
   


print(nat_gas_consumption.shape)


row_number = 210
row_value = ins06  
  
if row_number > nat_gas_consumption.index.max()+1: 
    print("Invalid row_number") 
else: 
      
    # Let's call the function and insert the row 
    # at the second position 
    nat_gas_consumption = Insert_row(row_number, nat_gas_consumption, row_value) 
   


print(nat_gas_consumption.shape)

row_number = 310
row_value = ins07  
  
if row_number > nat_gas_consumption.index.max()+1: 
    print("Invalid row_number") 
else: 
      
    # Let's call the function and insert the row 
    # at the second position 
    nat_gas_consumption = Insert_row(row_number, nat_gas_consumption, row_value) 
   


print(nat_gas_consumption.shape)

row_number = 360
row_value = ins08  
  
if row_number > nat_gas_consumption.index.max()+1: 
    print("Invalid row_number") 
else: 
      
    # Let's call the function and insert the row 
    # at the second position 
    nat_gas_consumption = Insert_row(row_number, nat_gas_consumption, row_value) 
   


print(nat_gas_consumption.shape)

row_number = 410
row_value = ins09  
  
if row_number > nat_gas_consumption.index.max()+1: 
    print("Invalid row_number") 
else: 
      
    # Let's call the function and insert the row 
    # at the second position 
    nat_gas_consumption = Insert_row(row_number, nat_gas_consumption, row_value) 
   


print(nat_gas_consumption.shape)

row_number = 460
row_value = ins10  
  
if row_number > nat_gas_consumption.index.max()+1: 
    print("Invalid row_number") 
else: 
      
    # Let's call the function and insert the row 
    # at the second position 
    nat_gas_consumption = Insert_row(row_number, nat_gas_consumption, row_value) 
   


print(nat_gas_consumption.shape)

(842, 5)
(843, 5)
(844, 5)
(845, 5)
(846, 5)
(847, 5)
(848, 5)
(849, 5)
(850, 5)

In [0]:
# Drop uneccessary columns
consumption_final = nat_gas_consumption.drop(columns=['index','producer','source'])
# Rename remaining columns
consumption_final.columns = ['state','total natural gas consumption for electric power2002']

# ind = 1
# consumption_final.insert(loc=ind,column='year_of_observation',value = year_index)

print(consumption_final.shape)
consumption_final.head()

(850, 2)

            state total natural gas consumption for electric power2002
0      Alaska2001                                           41364632
1     Alabama2001                                          131531462
2    Arkansas2001                                           42744550
3     Arizona2001                                          145302961
4  California2001                                          776884309

# Combine target with features

In [0]:
print(finalest_frame.shape,consumption_final.shape)

finalest_frame.tail()

(850, 36) (850, 2)

,state,population_estimate,All industry total,Private industries,"Agriculture, forestry, fishing and hunting","Mining, quarrying, and oil and gas extraction",Utilities,Construction,Manufacturing,Durable goods manufacturing,Nondurable goods manufacturing,Wholesale trade,Retail trade,Transportation and warehousing,Information,"Finance, insurance, real estate, rental, and leasing",Finance and insurance,Real estate and rental and leasing,Professional and business services,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,"Educational services, health care, and social assistance",Educational services,Health care and social assistance,"Arts, entertainment, recreation, accommodation, and food services","Arts, entertainment, and recreation",Accommodation and food services,Other services (except government and government enterprises),Government and government enterprises,Natural resources and mining,Trade,Transportation and utilities,Manufacturing and information,Private goods-producing industries 2/,Private services-providing industries 3/
845,Virginia2017,8463587.0,509372781,414966890,1719897,1466151,7522893,20268655,43169425,17775531,25393894,21714397,25797653,13592482,17061774,97672053,26144653,71527400,97214162,66501725,12418602,18293834,37863599,5068241,32795359,17208629,3422196,13786433,12695120,94405890,3186048,47512050,21115375,NaN,66624128,348342762
846,Washington2017,7423362.0,524814612,456518728,7656350,482080,4431510,22205763,59974985,45608754,14366231,27278000,43334304,14849826,61870738,92491393,19548036,72943358,54843030,33811646,6727701,14303683,36653209,3124029,33529180,20099009,4232793,15866217,10348531,68295884,8138430,70612303,19281336,NaN,90319178,366199551
847,West Virginia2017,1817004.0,73162915,61389797,313967,7585613,2229668,3384430,7583345,3325437,4257909,3419745,5024252,2220728,1416005,9761262,2557418,7203845,5869047,3267054,704366,1897627,8271719,427847,7843872,2832564,395282,2437282,1477453,11773118,7899580,8443996,4450396,NaN,18867356,42522442
848,Wisconsin2017,5790186.0,321987743,286717491,4648503,1343442,5579614,13160387,60044175,34923330,25120845,19941088,17931194,9588662,11266017,63095124,25589226,37505898,31280489,14199979,9212180,7868331,31855635,3541793,28313842,10058911,2355135,7703776,6924251,35270252,5991945,37872281,15168276,NaN,79196507,207520984
849,Wyoming2017,578931.0,37453599,31246837,639449,7373433,1051762,1993913,1946179,475691,1470488,1473687,2104193,3187562,631307,5053187,1005872,4047315,1796622,1129261,121464,545897,1780050,114394,1665656,1628767,273483,1355284,586725,6206762,8012882,3577880,4239325,NaN,11952974,19293863

In [0]:
FinalFrame = pd.merge(finalest_frame,consumption_final)

FinalFrame

,state,population_estimate,All industry total,Private industries,"Agriculture, forestry, fishing and hunting","Mining, quarrying, and oil and gas extraction",Utilities,Construction,Manufacturing,Durable goods manufacturing,Nondurable goods manufacturing,Wholesale trade,Retail trade,Transportation and warehousing,Information,"Finance, insurance, real estate, rental, and leasing",Finance and insurance,Real estate and rental and leasing,Professional and business services,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,"Educational services, health care, and social assistance",Educational services,Health care and social assistance,"Arts, entertainment, recreation, accommodation, and food services","Arts, entertainment, and recreation",Accommodation and food services,Other services (except government and government enterprises),Government and government enterprises,Natural resources and mining,Trade,Transportation and utilities,Manufacturing and information,Private goods-producing industries 2/,Private services-providing industries 3/,total natural gas consumption for electric power2002
0,Alabama2001,4480089.0,122449316,102670724,1988838,1379713,3572672,6199991,21192168,11255058,9937110,7250209,9435489,3233047,4215250,19747667,6914072,12833595,9459550,6189588,681598,2588364,8394939,586164,7808775,3270991,437251,2833740,3330197,19778592,3368551,16685698,6805719,NaN,30760711,71910013,131531462
1,Alaska2001,642337.0,28420361,22500511,353602,4037335,412750,1430273,947374,111557,835817,718870,1647894,3696983,764578,3555408,875412,2679996,1772032,986375,243387,542270,1575046,109976,1465071,986237,124731,861506,602128,5919850,4390937,2366764,4109733,NaN,6768584,15731927,41364632
2,Arizona2001,5396255.0,171474249,148676367,1518311,1286682,3507169,10926930,22223337,19303002,2920335,10041640,13716889,4428573,5600262,36608914,12841216,23767699,17135705,8514266,1684934,6936505,10841516,936880,9904636,7048067,1649312,5398755,3792374,22797883,2804993,23758529,7935741,NaN,35955259,112721108,145302961
3,Arkansas2001,2705927.0,70601352,61483503,2321139,409977,1836222,3311111,13887564,7023714,6863850,4439486,5204837,3378595,2563769,9738432,3075485,6662946,5385034,2144896,1869578,1370559,5250846,293447,4957398,1899181,234349,1664832,1857311,9117849,2731116,9644322,5214818,NaN,19929790,41553712,42744550
4,California2001,34871843.0,1384111202,1206974416,17706583,6427793,14641450,58705374,177808856,112985396,64823459,76191751,99002817,33587415,92966823,278252558,73288377,204964181,181772130,112885048,27984480,40902601,78906127,10753721,68152407,55403012,17791169,37611843,35601726,177136786,24134376,175194568,48228865,NaN,260648606,946325810,776884309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
845,Virginia2017,8463587.0,509372781,414966890,1719897,1466151,7522893,20268655,43169425,17775531,25393894,21714397,25797653,13592482,17061774,97672053,26144653,71527400,97214162,66501725,12418602,18293834,37863599,5068241,32795359,17208629,3422196,13786433,12695120,94405890,3186048,47512050,21115375,NaN,66624128,348342762,364054581
846,Washington2017,7423362.0,524814612,456518728,7656350,482080,4431510,22205763,59974985,45608754,14366231,27278000,43334304,14849826,61870738,92491393,19548036,72943358,54843030,33811646,6727701,14303683,36653209,3124029,33529180,20099009,4232793,15866217,10348531,68295884,8138430,70612303,19281336,NaN,90319178,366199551,73385589
847,West Virginia2017,1817004.0,73162915,61389797,313967,7585613,2229668,3384430,7583345,3325437,4257909,3419745,5024252,2220728,1416005,9761262,2557418,7203845,5869047,3267054,704366,1897627,8271719,427847,7843872,2832564,395282,2437282,1477453,11773118,7899580,8443996,4450396,NaN,18867356,42522442,12112462
848,Wisconsin2017,5790186.0,321987743,286717491,4648503,1343442,5579614,13160387,60044175,34923330,25120845,19941088,17931194,9588662,11266017,63095124,25589226,37505898,31280489,14199979,9212180,7868331,31855635,3541793,28313842,10058911,2355135,7703776,6924251,35270252,5991945,37872281,15168276,NaN,79196507,207520984,128955025
849,Wyoming2017,578931.0,37453599,31246837,639449,7373433,1051762,1993913,1946179,475691,1470488,1473687,2104193,3187562,631307,5053187,1005872,4047315,1796622,1129261,121464,545897,1780050,114394,1665656,1628767,273483,1355284,586725,6206762,8012882,3577880,4239325,NaN,11952974,19293863,6349608

In [0]:
gdp_energy['state'] = gdp_energy['state'].astype('string')
gdp_energy = gdp_energy.replace('(D)',np.NaN)
obj_columns = gdp_energy.select_dtypes(include='object').columns.to_list()

gdp_energy_nums = gdp_energy[obj_columns].astype(float)
gdp_energy_millions = gdp_energy_nums/1000000
gdp_energy_millions = gdp_energy_millions.round(3)

gdp_energy_population = gdp_energy['population_estimate']/1000000

obs = (gdp_energy['state'],gdp_energy_population.round(3),gdp_energy_millions)
gdp_energy_final=pd.concat(obs,axis=1)

gdp_energy_final = gdp_energy_final.dropna()

# CSV DOWNLOAD

In [0]:
def csv_download_link(df, csv_file_name, delete_prompt=True):
    """Display a download link to load a data frame as csv from within a Jupyter notebook"""
    df.to_csv(csv_file_name, index=False)
    from IPython.display import FileLink, FileLinks
    display(FileLink(csv_file_name))
# Diplay download link:
csv_download_link(FinalFrame, 'Project.csv')

/Users/jp/DS-Unit-2-Applied-Modeling/module1-define-ml-problems/Project.csv